<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style ="color: pink">This is page Student</h1>
       <a href="/" style="font-size: 20px"; "color: gray">Main page</a>
       <br>
       <b>
<ul class="food_list">
  {{#each foods}}
    <li>{{this}}</li>
  {{/each}}
  </ul>
   </b>

</body>
</html>