<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style ="color: pink">This is page Student</h1>
       <a href="/" style="font-size: 20px"; "color: gray">Main page</a>
       <br>
       <form action = "/"registerLunch" method="post">
       Name : <input type = "text" name = "txtName">
       <br>
       Chossing Food
       <select name ="foods"
         <b>
         {{#each foods}}
         <opition value="{{this}}">{{this}}</opition>
         {{/each}}
       </b>
       </select>
       <br>
       <input type="submit" value="Register">
       </form>
        <hr>
</body>
</html>